<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Select a resource type below:</p>
    <a href="/articles">Articles</a><br>
    <a href="/videos">Videos</a><br>
    <a href="/podcasts">Podcasts</a>


  </body>
</html>
