<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Podcasts</h1>

    <p>Coming soon!</p>

    <a href="/">Return Home</a>
  </body>
</html>
